{% extends "shop/main_template.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'shop/css/books.css' %}">
<div class="catalog-container">
    <!-- Боковая панель с категориями -->
    <div class="sidebar">
        <h3>Категории</h3>
        <ul>
            <li><a href="{% url 'catalog' %}">Все книги</a></li>
            {% for category in categories %}
                <li>
                    <a href="{% url 'category_books' category.category_id %}">{{ category.name_category }}</a>
                    {% if selected_category == category %}
                        <ul>
                            {% for sub in subcategories %}
                                <li><a href="{% url 'subcategory_books' category.category_id sub.subcategory_id %}">{{ sub.name_subcategory }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Список книг -->
    <div class="books-list">
        <h2 class="theme">
            {% if selected_subcategory %}
                {{ selected_subcategory.name_subcategory }}
            {% elif selected_category %}
                {{ selected_category.name_category }}
            {% else %}
                Все книги
            {% endif %}
        </h2>
        <div class="book-slider">
            <button class="slider-button slider-button--left" onclick="scrollBooks(-1)">&#8249;</button>  <!-- Кнопка "влево" -->
            <div class="book-container">
                {% for book in books %}
                    <div class="book-item">
                        <a href="{% url 'book_detail' book.book_id %}">
                            <img src="{% static book.image_path %}" alt="{{ book.title }}" style="max-width: 200px;">
                            <h4>{{ book.title }}</h4>  <!-- Название книги -->
                            <p><strong>Цена:</strong> {{ book.price_book }} руб.</p>  <!-- Цена -->
                            <p><strong>Автор:</strong> {{ book.author.name }}</p>  <!-- Автор -->
                            <p><strong>Рейтинг:</strong> {{ book.rating }}</p>  <!-- Рейтинг -->
                        </a>
                        <button class="buy-button">Купить</button>
                    </div>
                {% endfor %}
            </div>
            <button class="slider-button slider-button--right" onclick="scrollBooks(1)">&#8250;</button> <!-- Кнопка "вправо" -->
        </div>
    </div>
</div>
{% endblock %}
