{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Авторизация и Регистрация</title>
        <link rel="stylesheet" href="{% static 'shop/css/main.css' %}">
    </head>
    <body>
        <header>
            <div class="header-left">
                <h1>Moon Shelf</h1>
            </div>
        </header>

        <main>
            <div class="auth-container">
                <div class="auth-box">
                    <h2>Вход</h2>
                    <form method="post">
                        {% csrf_token %}
                        <label for="email">Электронная почта</label>
                        <input type="email" name="email" id="email" required>
                        
                        <label for="password">Пароль</label>
                        <input type="password" name="password" id="password" required>
                        
                        <button type="submit">Войти</button>
                    </form>
                    <a href="{% url 'register' %}">Нет аккаунта? Зарегистрироваться</a>
                </div>
            </div>
        </main>

        <footer>
            &copy; 2025 Moon Shelf. Все права защищены.
        </footer>
    </body>
</html>